.c1{
    position: relative;
    height: 1754px;
    width: 1240px;
    font-family: Times New Roman;
  }
  .c1:before{
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 300px;
    margin-bottom:650px ;
  
    background:  url(rrmgch1.png);
    background-position: center;  
    background-repeat: no-repeat;
  
    z-index: -1;
    opacity: 0.15;
  -ms-transform: rotate(-25deg); /* IE 9 */
    transform: rotate(-25deg);
  
  }
  .c2{
     margin-left: 110px;
     margin-right: 110px;
     position: relative;
     
  }
  .c3{
   
    width:100%;
    margin-top: 25px;
  }
  .c4{
    background-color: #04AA6D;
    color: white;
    font-size: 25px;
    padding: 10px;
   border-radius: 0px 0px 25px 25px;
  }
  #customers {
    
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  
  .c8{
   border: 1px solid black; 
   width: 10%;
  }
  
  .c5{
     margin-top: 50px;
     width:100%;
  }
  
  
  
  .c6{
    font-size: 30px;
  
   
  }
  
  .c7{
    font-size: 20px;
  
  }
  
  .c9{
    border: 1px solid black;
     width:100%
  }
  
  .ccc{
   margin-top: 20px;
   height: 235px;
    width: 320px;
   
  }
  .cc{
    width: 50px;
  }
  .c{
    margin-top: 30px;
    width: 200%;
  }