.frame{
    display:grid;
    grid-template-columns: 300px 4fr;
    height: 100vh;
}

/* left side */

/* top */

.left_side{
    background-color:rgb(70, 44, 141);
    color:#fff;
    height: 100%;
}

.left_side_top{
    padding:25px;
    background-color: rgb(106, 63, 226);
    box-shadow: -5px 0px 20px -5px #3b3838;
}

.title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.line{
    width:100%;
    height: 2px;
    background-color: #fff;
}

.user_name_id{
    padding:8px
}

/* links */

.list{
    list-style: none;
    display:grid;
    grid-template-columns: 1fr;
    padding-top:50px;
}

.link{
    display:grid;
    grid-template-columns: 30px 1fr;
    padding:10px 25px;
    color:#fff;
    background-color: rgb(106, 63, 226);
    text-align: start;
    position:relative;
    border-bottom:2px solid rgb(70, 44, 141);
}

.link::after{
    display:grid;
    align-self: center;
    justify-self: center;
    content:"0";
    z-index: -5;
    position:absolute;
    padding:5px 5px;
    right:-10px;
    color:#fff;
    background-color: #fff;
    border-radius: 50px 0px 0px 50px;
    transition:300ms ease-in;
}

.link_icons{
    display:grid;
    align-self: center;
    justify-self: center;
}

.link:hover::after{
    z-index: 5;
    right:-2px;
    box-shadow: -10px 0px 20px -5px #3b3838;
    transition:300ms ease-in;
}

.link:active::after{
    z-index: 5;
    right:-2px;
    box-shadow: -10px 0px 20px -5px #3b3838;
    transition:300ms ease-in;
}

/* right side */

.right_side{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    position:relative;
}

/* top */

.right_side_top{
    display:grid;
    grid-template-columns: 50px 1fr 50px;
    background-color: rgb(70, 44, 141);
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    position:relative;
    z-index: 2;
    box-shadow: 5px 10px 15px -10px #3b3838;
}

.menu_btn{
    display:none;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    cursor:pointer;
    color:#fff;
}

.mobile_links{
    display:grid;
    align-items: center;
    justify-items: center;
    width:100%;
    background-color: rgb(70, 44, 141);
    position:absolute;
    top:-5000px;
    box-shadow: 5px 10px 15px -10px #3b3838;
    transition: 300ms ease-in;
}

.mobile_link{
    display:grid;
    align-items: center;
    justify-items: center;
    width:100%;
    background-color: #fff;
    padding: 10px 0px;
    color:rgb(70, 44, 141);
    border-bottom:3px solid rgb(70, 44, 141);
    transition: 300ms ease-in;
    z-index: 1;
}

.mobile_link:hover{
    color:#fff;
    background-color: rgb(106, 63, 226);
    transition: 300ms ease-in;
}

.log_out_btn{
    display:grid;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    cursor:pointer;
    color:#fff;
}

.log_out_btn:hover::before{
    content:"Log Out";
    font-family: 'Nunito', sans-serif;
    position:fixed;
    width:100px;
    right:0px;
    display:grid;
    align-self: center;
    justify-self: center;
    font-size: 16px;
    cursor:pointer;
    color:#fff;
    transition: 100ms ease-in;
}

/* content */

.right_side_middle{
    margin:16px;
}

.content_container{
    padding:16px;
    background-color: #eeefff;
    border-radius: 15px;
    margin-bottom:16px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.section_title{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom:3px;
    color:#3b3838;
}

/* table */

.frame_table{
    display: table;
    border:2px solid #eeefff;
    width:100%;
    position: relative;
    z-index: 0;
}

.frame_header_item{
    text-align: center;
    padding:8px;
    background-color: rgba(106, 63, 226, 0.842);
    color:#fff;
}

.frame_rows:nth-child(odd){
    background-color: #fff;
}

.frame_rows:nth-child(even){
    background-color: #eeefff;
}

.frame_data{
    text-align:center;
    padding:8px;
    color:#3b3838;
}

.frame_action{
    text-align:center;
}

.table_btn{
    font-size: 1.5rem;
    width:100%;
    padding:8px 0px;
    background-color: rgb(30, 221, 40);
    color:#fff;
    cursor: pointer;
}

.table_basic_btn{
    width:100%;
    padding:8px 0px;
    cursor: pointer;
}

.table_basic_btn:hover{
    background-color: rgba(19, 20, 19, 0.589);
}

.table_btn:hover{
    background-color: rgb(19, 170, 26);
}

.table_item_green{
    font-size: 1rem;
    background-color: rgba(53, 233, 53, 0.76);
    color:#fff;
}

.table_item_red{
    font-size: 1rem;
    background-color: rgba(233, 53, 53, 0.76);
    color:#fff;
}

.table_item_yellow{
    font-size: 1rem;
    background-color: rgba(215, 233, 53, 0.76);
    color:#fff;
}

.disable{
    cursor: default;
    pointer-events: none;        
}